{
  "presets": [["@babel/preset-env", { "targets": { "node": "current" } }],
     ["@babel/preset-react",{"runtime":"automatic"}]
]
}

// with options
// {
//   "plugins": [["transform-remove-console", { "exclude": ["error", "warn"] }]]
// }
