.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@keyframes sidebarAnimation {
    from {
        transform: translateX(-101%);
    }
    to{
        transform: translateX(0);
    }
}

.translateSlidebar{
    animation: .25s  1 forwards ease sidebarAnimation;
}

@media screen and (min-width: 900px) {
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0f0f0f;
  opacity: 0 ;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #878585;
  border-radius: 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
}

}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #0f0f0f;
  opacity: 0 ;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #878585;
  border-radius: 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
}





/* width */
.sidebarContainer::-webkit-scrollbar {
  width: 9px;
}

/* Track */
.sidebarContainer::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
.sidebarContainer::-webkit-scrollbar-thumb {
  background: #878585;
  border-radius: 5px;

}

/* Handle on hover */
.sidebarContainer::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
}



/* width */
.locationsContainer::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.locationsContainer::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
.locationsContainer::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #939292;

}

/* Handle on hover */
.locationsContainer::-webkit-scrollbar-thumb:hover {
  background: #878585;

}


